# copy this file to .env and fill in the values
# this is for development purposes only. ( Optional )


# it's the domain of your auth provider
PUBLIC_ISSUER=<YOUR_AUTH_PROVIDER_URL>

# this is for drizzle-orm to connect to your Cloudflare D1 database
CLOUDFLARE_ACCOUNT_ID=<YOUR_CLOUDFLARE_ACCOUNT_ID>
CLOUDFLARE_TOKEN=<YOUR_CLOUDFLARE_API_TOKEN>
CLOUDFLARE_D1_ID=<YOUR_D1_ID>

# do not change this values
PUBLIC_CLIENT_ID=openauth_webui
PUBLIC_REDIRECT_URI=http://localhost:3001/auth/callback